.login-dialog__content {
  display: flex;
  flex-direction: column;
}

.login-dialog__label {
  margin-top: 30px;
  font-size: 18px;
  color: var(--color-black);
}

.login-dialog__input {
  background-color: #F9F9FB;
  border: 1px solid #C7D2E9;
  box-sizing: border-box;
  border-radius: 8px;
  height: 50px;
}

.login-dialog__login {
  background-color: #C7D2E9;
  border-radius: 8px;
  height: 50px;
  margin-top: 40px;
  font-size: 18px;
  color: var(--color-black);
  cursor: pointer;
}

.login-dialog__login:focus-visible,
.login-dialog__login:hover {
  background-color: #bfcdeb;
}
